In [1]:
import numpy as np
import pandas as pd
import openturns as ot
import otbenchmark as otb

In [2]:
methods = ['SS', "BANSC"]
problems=[otb.FourBranchSerialSystemReliability()]
nb_reps = 3
sizes = [300, 500]
sizes = np.repeat(sizes, nb_reps)
problem_names = [problem.getName() for problem in problems]

multi_indexes = pd.MultiIndex.from_product([problem_names, methods, sizes], names=["problem", "method", "size"])
df_results = pd.DataFrame([], columns=["nb_samples", "pf", "pf_std"], index=multi_indexes)
df_results

                                      nb_samples   pf pf_std
problem                   method size
Four-branch serial system SS     300         NaN  NaN    NaN
                                 300         NaN  NaN    NaN
                                 300         NaN  NaN    NaN
                                 500         NaN  NaN    NaN
                                 500         NaN  NaN    NaN
                                 500         NaN  NaN    NaN
                          BANSC  300         NaN  NaN    NaN
                                 300         NaN  NaN    NaN
                                 300         NaN  NaN    NaN
                                 500         NaN  NaN    NaN
                                 500         NaN  NaN    NaN
                                 500         NaN  NaN    NaN

In [3]:
from bancs import ReliabilityBenchmark

In [4]:
rb = ReliabilityBenchmark(problems=[otb.FourBranchSerialSystemReliability()], methods=["BANCS", "SS", "NAIS"], sizes=[100, 200], nb_reps=4)

In [5]:
rb.df_results

                                              nb_samples   pf pf_ref pf_std
problem                   method size rep_idx
Four-branch serial system BANCS  100  0              NaN  NaN    NaN    NaN
                                      1              NaN  NaN    NaN    NaN
                                      2              NaN  NaN    NaN    NaN
                                      3              NaN  NaN    NaN    NaN
                                 200  0              NaN  NaN    NaN    NaN
                                      1              NaN  NaN    NaN    NaN
                                      2              NaN  NaN    NaN    NaN
                                      3              NaN  NaN    NaN    NaN
                          SS     100  0              NaN  NaN    NaN    NaN
                                      1              NaN  NaN    NaN    NaN
                                      2              NaN  NaN    NaN    NaN
                                      3              NaN  NaN    NaN    NaN
                                 200  0              NaN  NaN    NaN    NaN
                                      1              NaN  NaN    NaN    NaN
                                      2              NaN  NaN    NaN    NaN
                                      3              NaN  NaN    NaN    NaN
                          NAIS   100  0              NaN  NaN    NaN    NaN
                                      1              NaN  NaN    NaN    NaN
                                      2              NaN  NaN    NaN    NaN
                                      3              NaN  NaN    NaN    NaN
                                 200  0              NaN  NaN    NaN    NaN
                                      1              NaN  NaN    NaN    NaN
                                      2              NaN  NaN    NaN    NaN
                                      3              NaN  NaN    NaN    NaN